.food-calculator {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  height: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
  text-align: center;
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.1), 
              0 6px 12px rgba(0, 0, 0, 0.2);
  border: 2px  solid black;
  margin: 30px 25px 30px 25px;
}

.food-calculator:hover {

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.food-item {
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  margin:10px 0 10px 0;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.food-item:hover{
  background-color: rgba(0, 0, 0, 0.25);
}

.date-selector {
  background-color: rgba(255, 255, 255, 1);
  border: 0;
  border-radius: 10px;
  width: 10vw;
  height: 4vh;
  text-align: center;
  font-size: large;
}

.delete-button {
  width: 70px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 0;
  background-color: #fd5a5a;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.delete-button:hover{
  background-color: #fe4444;
  color: rgb(226, 226, 226);
}