.food-input {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  min-height: 344px;
  height: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, backdrop-filter 0.3s ease;
  text-align: center;
  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.1), 
              0 6px 12px rgba(0, 0, 0, 0.2);
  border: 2px  solid black;
  margin: 30px 25px 30px 25px;
}

.food-input:hover {
  background-color: rgba(163, 162, 162, 0.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

.calorie-display {
  color: white;
}

.food-items .each-food-item{
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  margin:10px 0 10px 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.food-items .each-food-item:hover{
  background-color: rgba(0, 0, 0, 0.25);
}

.food-search {
  border-radius: 50px;
  height: 50px;
  width: 90%;
  border: 0;
  text-align: center;
  font-size: 20px;
}

.food-kcal {
  color: #D9534F; /* Softer red for calories */
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.food-protein {
  color: #F0A500; /* Warm orange for protein */
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.food-carbohydrate {
  color: #5BC0BE; /* Cool teal for carbohydrates */
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.food-fat {
  color: #FF6F61; /* Soft coral red for fats */
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.food-kcal:hover,
.food-protein:hover,
.food-carbohydrate:hover,
.food-fat:hover {
  color: #ffffff; /* Changes to a neutral dark color on hover for contrast */
}

.quantity-input {
  width: 70px;
  margin:0 50px 10px 0;
  height: 30px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  border: 0;
}

.add-button {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: #72a96b;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.add-button:hover{
  background-color: #588552;
  color: rgb(226, 226, 226);
}