.macros-history {
  position: relative;
  flex: 1;
  max-width: 1000px; 
  width: 40vw;
  min-width: 500px;
  margin: 100px 65px 0 0;
  padding: 20px;
  background-color: #46474d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  float:right;
  border: 1px solid #bec7ed;
  transition: background-color 0.3s ease
}

.macros-history:hover {
  background-color: #1b1c23;
}


.macros-history h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 15px;
}

.macros-history select {
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

.macros-history select:hover, .macros-history select:focus {
  border-color: #ffffff;
  outline: none;
}

.macros-graph {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bar-chart canvas {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 600px) {
  .macros-history {
    padding: 15px;
  }

  .macros-history h2 {
    font-size: 20px;
  }

  .macros-history select {
    font-size: 14px;
    padding: 6px 8px;
  }
}
