/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #555555;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}

.navbar-logo img {
  height: 40px; 
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white; 
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px; 
  border-radius: 5px; 
  transition: color 0.3s ease; 
}

/* Efectul de hover */
.navbar-links a:hover {
  color: #ff5757; 
}

/* Stil pentru link-ul selectat */
.navbar-links a.active {
  color: #ff914d; 
}


