.weight-history {
  background-color: #f7f9fc; 
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 100px 0 0 65px;
}

.input-section {
  margin-bottom: 20px;
}

.input-section input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-section button {
  padding: 10px 15px;
  background-color: #3e95cd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-section button:hover {
  background-color: #0065a3;
}

.log-section {
  margin-top: 20px;
}

.log-entry {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.log-entry:hover {
  background-color: #eef3f7;
}

.delete-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ff4d4d; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #860e0e; 
}

.show-more {
  margin-top: 10px;
  padding: 10px;
  background-color: #3e95cd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
